In [1]:
import pandas as pd
import numpy as np

In [23]:
df_games = pd.read_csv("games001.csv", sep=";")
df_rates = pd.read_csv("rates001.csv", sep=";")

In [136]:
df_rates_mean = df_rates.groupby(['id'], as_index=False).mean()
df_rates_mean.sort_values(by='mark', ascending=False, inplace=True, ignore_index=True)
print(df_games[df_games['id'] == df_rates_mean['id'][0]]['name'].values[0], df_rates_mean['mark'][0].round(3))
print(df_games[df_games['id'] == df_rates_mean['id'][1]]['name'].values[0], df_rates_mean['mark'][1].round(3))
print(df_games[df_games['id'] == df_rates_mean['id'][2]]['name'].values[0], df_rates_mean['mark'][2].round(3))

Darkest Dungeon 9.0
XCOM 2 8.867
Civilization V 8.333

In [94]:
df_games

   id             name           company
0   1           XCOM 2           Firaxis
1   2   Civilization V           Firaxis
2   3  Darkest Dungeon  Red Hook Studios
3   4     Star Traders    Trese Brothers

In [76]:
df_rates_mean

   id      mark
2   3  9.000000
0   1  8.866667
1   2  8.333333
3   4  8.000000

In [81]:
df_rates_mean['id']

2    3
0    1
1    2
3    4
Name: id, dtype: int64

In [92]:
df_rates_mean['id'].loc[2]

3

In [68]:
df_games['id'] == df_rates_mean['id'][0]

0     True
1    False
2    False
3    False
Name: id, dtype: bool

In [124]:
df_high_rates_index = df_rates_mean[df_rates_mean['mark'] > 8]
df_high_rates_games = df_games[df_games.id.isin(df_high_rates_index.id) == True].assign(score=lambda x: 1)
df_high_rates_games = df_high_rates_games.groupby('company', as_index=False).sum(numeric_only=True)
df_high_rates_games.sort_values(by='score', ascending=False, inplace=True, ignore_index=True)
print(df_high_rates_games.company[0], df_high_rates_games.score[0])

Firaxis 2

In [115]:
df_high_rates_index

   id      mark
0   3  9.000000
1   1  8.866667
2   2  8.333333

In [116]:
df_high_rates_games

   id             name           company  score
0   1           XCOM 2           Firaxis      1
1   2   Civilization V           Firaxis      1
2   3  Darkest Dungeon  Red Hook Studios      1

In [117]:
df_games

   id             name           company
0   1           XCOM 2           Firaxis
1   2   Civilization V           Firaxis
2   3  Darkest Dungeon  Red Hook Studios
3   4     Star Traders    Trese Brothers